.section .hero-intro {
  padding: 20px 0;
  position: relative;
}
.gray-bg {
  background: rgb(29,29,29);
  background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(119,119,119,1) 63%, rgba(144,144,144,1) 100%);
}
.hero-img {
  max-width: 80%;
}
.hero-img {
  vertical-align: middle;
  border-style: none;
  border-radius: 50%;
}
.hero-img-style {
  margin-left: 50px;
  margin-top: 80px;
  margin-bottom: 20px;
}
/* About Me 
---------------------*/
.about-text h1 {
  font-size: 80px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Montserrat';
}

.about-text h3 {
  margin-top: 90px;
  font-weight: 1000;
  font-size: 12px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
  }
  .about-text h6 {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
    border-radius: 50%;
    align-items: center;
  }
  .hero-img {
    max-width: 90%;
  }
  .about-text {
    font-size:40px;
    text-align: center;
  }
  .about-list {
    text-align: center;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 10px;
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #20247b;
}

.about-list {
  padding-top: 10px;
  font-size: 10px;
}
.about-list .media {
  padding: 10px 0px 20px 0px;
  color:aliceblue;
}
.about-list p {
  margin: 0;
  font-size: 13px;
}


.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #ffffff;
}
