#search {
    display: flex;
    justify-content: center;
}
#search input[type="text"] {
    background: #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #2c2c2c;
    width:150px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;

    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    background: #fcfcfc;
    color: #6a6f75;
    width: 200px;
    }
