

#search {
    background: #1d1d1d;
    border: none;
    color: #fff;
    width: 100%;
    height: 50px;   
    font: 500 25px Montserrat;
    padding-left: 20px;
    outline: none;
}
.no-outline:focus {
    outline: none;
  }
